<div class="media user-sticky-card">



  <img class="mr-3 feed-avatar" [src]="workspaceImageUrl">
  <div class="media-body">
    <div>
      <h2>{{user?.workspace_name}}</h2>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="./mygroups">My Groups
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./peoplefollow">People I Follow
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./suggestions">Suggestion
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>

      <div *ngIf="alert.message" [ngClass]="alert.class">{{alert.message}}</div>
    </div>



  </div>
</div>
