<div class="row main-actvity">
  <div class="col-md-4">
    <div class="row sidecontent">
      <div class="card sideinnercard">
        <div class="card-block">
          <h6 class="card-title">Group Info </h6>
          <hr/>
          <p class="card-text">{{groupDataService.group?._admins?.length + groupDataService.group?._members?.length}} Members</p>
          <p class="card-text">{{groupDataService.group?.description}}</p>

        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <!-- postbox-->


    <div class="card" style="margin-bottom: 10px">
      <div class="card-block">
        <form [formGroup]="postForm">
          <div class="row card-title">
            <div class="col-md-1">
              <img [src]="profileImage" class="feed-avatar">
            </div>
            <div class="col-md-10">
              <h6>What are you working on?</h6>
            </div>

            <div class="col-md-1">
              <!-- <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
            </div>
          </div>
          <div class="col-md-12 innercard">
            <div class="row">
              <div class="col-md-6">
                <ul class="nav nav-pills">

                  <li class="nav-item">
                    <button (click)="onSelectPostType('normal')" class="btn btn-link">
                      <i class="material-icons muted">comment</i>
                    </button>
                  </li>
                  <li class="nav-item">

                    <button (click)="onSelectPostType('event')" class="btn btn-link">
                      <i class="material-icons muted">event</i>
                    </button>
                  </li>
                  <li class="nav-item">

                    <button (click)="onSelectPostType('task')" class="btn btn-link">
                      <i class="material-icons muted">check_box</i>
                    </button>
                  </li>
                </ul>

              </div>
              <div class="col-md-12">

                <button type="button " class="btn btn-outline-warning task" *ngIf="post.type == 'event' || post.type== 'task'" (click)="openAssignPicker(assignContent)">
                  <i class="material-icons ">perm_identity</i> {{assignment}}
                </button>

                <!-- <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time"> -->
                <!--   <owl-date-time #dt1></owl-date-time> -->


                <button *ngIf="post.type == 'event'|| post.type=='task'" class="btn btn-outline-warning task" type="button" (click)="openDatePicker(dateContent)">
                  <i class="material-icons">event</i>{{ due_date }}
                </button>


                <button *ngIf="post.type=='event'" class="btn btn-outline-warning task" type="button" (click)="openTimePicker(timeContent)">
                  <i class="material-icons">event</i>{{due_time}}
                </button>

                <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="successMessage = null">{{alert.message}}</ngb-alert>

              </div>
            </div>

            <div class="row " style="margin-top: 10px">
              <div class="col-md-12">
                <div class="form-group ">
                  <textarea class="form-control " id="post-content" rows="3" [(ngModel)]="post.content" name="postContent" formControlName="postContent"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 ">


                <button type="button" class="btn btn-link ">
                  <input id="cin" #fileInput type="file" class="btn btn-outline-warning task" style="display: none" (change)="fileChangeEvent($event)"
                    placeholder="File" multiple/>
                  <i class="material-icons" (click)="fileInput.click()">attach_file</i>
                </button>
                <div *ngFor="let file of filesToUpload">
                  <p>{{file.name}}</p>
                </div>

              </div>

              <div class="col-md-4 text-right ">
                <button type="button " name="button" class="btn btn-default ">Cancel</button>
                <button [disabled]="(postForm.invalid && post.type=='normal' ) || processing || (selectedGroupUsers.length == 0 && post.type=='event' ) ||(selectedGroupUsers.length == 0 && post.type=='task') "
                  type="button " name="button" (click)="OnAddNewPost()" class="btn btn-primary">Post</button>
              </div>
            </div>

          </div>
        </form>
      </div>
      <!-- Modal to pick a due date-->

      <ng-template style="margin-top: 10px" #dateContent let-c="close" let-d="dismiss">

        <div style="width:100%" class="modal-header">
          <h4 class="modal-title">Select Due Date</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ngb-datepicker #dp [(ngModel)]="model_date" (navigate)="date = $event.next"></ngb-datepicker>
        </div>

        <div class="modal-footer">
          <button [disabled]="selectedGroupUsers.length == 0" class="btn btn-outline-primary mb-2 mr-2" (click)="onDateSelected();c('Close click')">Done</button>

          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c('Close click')">Cancel</button>
        </div>

      </ng-template>

      <!--  Modal to pick a time -->

      <ng-template style="margin-top: 10px" #timeContent let-c="close" let-d="dismiss">

        <div style="margin-left: 20px;" class="modal-header">
          <h4 class="modal-title">Select Time</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ngb-timepicker [(ngModel)]="model_time" [meridian]="true "></ngb-timepicker>
        </div>

        <div class="modal-footer">
          <button class="btn btn-outline-primary mb-2 mr-2" (click)="onTimeSelected();c('Close click')">Done</button>
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c('Close click')">Cancel</button>
        </div>

      </ng-template>

      <!--  Modal to Assign calendar event or task to group memeber -->
      <ng-template style="margin-top:10px; height:300px" #assignContent let-c="close" let-d="dismiss">

        <div style="margin-left: 20px;" class="modal-header">
          <h4 class="modal-title">Search User</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 300px;">
          <angular2-multiselect [data]="groupUsersList" [(ngModel)]="selectedGroupUsers" [settings]="settings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            <c-search>
              <ng-template>
                <input type="text" (keyup)="onSearch($event)" placeholder="Name, Email, Username or Phone" style="border: none;width: 100%; height: 100%;outline: none;"
                />
              </ng-template>
            </c-search>
            <c-item>
              <ng-template let-item="item">
                <label style="color: #333;width: 150px;">{{item.full_name }}</label>
                <!--  <img [src]="item.flag" style="width: 30px; border: 1px solid #efefef;margin-right: 0px;"/> -->

                <label>{{item.capital}}</label>
              </ng-template>
            </c-item>
          </angular2-multiselect>

        </div>
        <div class="modal-footer">
          <button [disabled]="selectedGroupUsers.length == 0 " class="btn btn-outline-primary mb-2 mr-2" (click)="onTimeSelected();c('Close click')">Done</button>
          <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="c('Close click')">Cancel</button>
        </div>
      </ng-template>

    </div>


    <!-- postbox-->

    <div *ngFor="let post of posts">
      <ul class="list-group ">
        <!-- Normal post -->
        <li class="list-group-item " *ngIf="post.type== 'normal'">
          <div class="card ">
            <div class="card-block ">
              <div class="row card-title ">
                <div class="col-md-1 ">
                  <img src="assets/images/user.png" class="feed-avatar">
                </div>
                <div class="col-md-7">
                  <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h6>
                  <p class="small lightgray date">
                    {{post?.created_date | date : 'medium' }}</p>
                </div>
                <div class="col-md-4 text-right ">

                </div>
              </div>
              <div class="col-md-12 innercard ">

                <p class="card-text ">
                  {{post?.content}}
                </p>

                <div *ngFor="let file of post.files">
                  <p (click)="onDownlaodFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</p>
                </div>
              </div>

              <div class="card-footer action-post innercard clearfix">
                <hr>
                <div class="row ">
                  <div class="col-md-6 ">
                    <span>{{post?.likes_count}} Likes</span>
                    <span>{{post?.comments_count}} Comments</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span (click)="showComments.id=post._id;showComments.normal=!showComments.normal;">
                      <i class="material-icons action">mode_comment</i>
                    </span>
                    <span>
                      <i class="material-icons action">thumb_up</i>
                    </span>
                    <span>
                      <div ngbDropdown class="d-inline-block">
                        <i class="material-icons action" id="dropdownBasic1" ngbDropdownToggle>more_horiz</i>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item">Edit Post</button>
                          <button class="dropdown-item" (click)="onDeletePost(post._id)">Delete Post</button>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- post comment block make this invisible -->


          <div *ngIf="showComments.id == post._id && showComments.normal">
            <div class="card muted">
              <form [formGroup]="commentForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group ">
                      <h6>Add a comment</h6>
                      <textarea class="form-control" id="post-content" rows="3" [(ngModel)]="comment.content" name="commentContent" formControlName="commentContent"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-12 text-right ">
                    <button type="button " name="button " class="btn btn-default ">Cancel</button>
                    <button [disabled]="commentForm.invalid" type="button " name="button" (click)="onAddNewComment(post._id)" class="btn btn-primary">Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- post comment block-->

          <!-- all comments block-->

          <div class="comment" *ngFor="let comment of post.comments">
            <div class="card-block">
              <div class="row card-title ">
                <div class="col-md-1">
                  <img src="assets/images/user.png" class="feed-avatar">
                </div>
                <div class="col-md-7 ">
                  <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied</h6>
                  <p class="small lightgray date">
                    {{comment.created_date | date : 'medium'}}</p>
                </div>
                <div class="col-md-4 text-right ">

                </div>
              </div>
              <div class="col-md-12 innercard ">
                <p class="card-text ">
                  {{comment.content}}
                </p>
              </div>
            </div>
          </div>

          <!-- all comments block-->

        </li>


        <!--TASK post-->
        <li class="list-group-item" *ngIf="post.type=='task'">
          <div class="card">
            <div class="card-block ">
              <div class="row card-title ">
                <div class="col-md-1 ">
                  <img src="assets/images/user.png" class="feed-avatar">
                </div>
                <div class="col-md-7 ">
                  <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}

                  </h6>
                  <p class="small lightgray date ">
                    {{post?.created_date | date : 'medium'}}</p>
                  <span class="pink small"> ASSIGNED TO {{post.task._assigned_to?.first_name}} {{post.task._assigned_to?.last_name}}
                  </span>
                </div>
                <div class="col-md-4 text-right ">
                  <button class="btn btn-outline-secondary btn-sm">Mark complete</button>
                  <p class="pink font-weight-bold" style="margin-top: 5px"> due {{post.task?.due_date | date}}</p>
                </div>
              </div>
              <div class="col-md-12 innercard ">
                <p class="card-text ">
                  {{post?.content}}
                </p>

                <div *ngFor="let file of post.files">
                  <p (click)="onDownlaodFile(file.modified_name,file.orignal_name)"> {{file?.orignal_name}} </p>
                </div>
              </div>

              <div class="card-footer action-post innercard clearfix ">
                <hr>
                <div class="row ">
                  <div class="col-md-6 ">
                    <span>{{post?.likes_count}} Likes</span>
                    <span>{{post?.comments_count}} Comments</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span (click)="showComments.id=post._id;showComments.task=!showComments.task;">
                      <i class="material-icons action">mode_comment</i>
                    </span>
                    <span>
                      <i class="material-icons action">thumb_up</i>
                    </span>
                    <span>
                      <div ngbDropdown class="d-inline-block">
                        <i class="material-icons action" id="dropdownBasic1" ngbDropdownToggle>more_horiz</i>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item">Edit Post</button>
                          <button class="dropdown-item" (click)="onDeletePost(post._id)">Delete Post</button>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- post comment block make this invisible -->


          <div *ngIf="showComments.id == post._id && showComments.task">
            <div class="card muted">
              <form [formGroup]="commentForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group ">
                      <h6>Add a comment</h6>
                      <textarea class="form-control" id="post-content" rows="3" [(ngModel)]="comment.content" name="commentContent" formControlName="commentContent"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-12 text-right ">
                    <button type="button " name="button " class="btn btn-default ">Cancel</button>
                    <button [disabled]="commentForm.invalid" type="button " name="button" (click)="onAddNewComment(post._id)" class="btn btn-primary">Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- post comment block-->

          <!-- all comments block-->

          <div class="card muted comment" *ngFor="let comment of post.comments">
            <div class="card-block">
              <div class="row card-title ">
                <div class="col-md-1">
                  <img src="assets/images/user.png" class="feed-avatar">
                </div>
                <div class="col-md-7 ">
                  <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied</h6>
                </div>
                <div class="col-md-4 text-right ">
                  <p class="small font-weight-bold">
                    <i class="material-icons ">schedule</i>{{comment.created_date | date : 'medium'}}</p>
                </div>
              </div>
              <div class="col-md-12 innercard ">
                <p class="card-text ">
                  {{comment.content}}
                </p>
              </div>
            </div>
          </div>

          <!-- all comments block-->

        </li>


        <!--EVENT post-->
        <li class="list-group-item" *ngIf="post.type=='event'">
          <div class="card">
            <div class="card-block ">
              <div class="row card-title ">
                <div class="col-md-1 ">
                  <img src="assets/images/user.png" class="feed-avatar ">
                </div>
                <div class="col-md-7 ">
                  <h6>{{post._posted_by?.first_name}} {{post._posted_by?.last_name}}</h6>
                  <p class="small lightgray date ">
                    {{post?.created_date| date : 'medium'}}</p>
                  <span class="pink small"> ASSIGNED TO {{post.event._assigned_to?.length}} members
                  </span>
                </div>

                <div class="col-md-4 text-right ">
                  <button class="btn btn-outline-secondary btn-sm">Mark complete</button>

                </div>
              </div>
              <div class="col-md-12 innercard ">
                <div class="row">
                  <div class="col-md-2 dateblock">
                    <span class="bigdate">{{post?.event.due_date | date :'dd' }}</span>
                    <br>
                    <span class="time">{{post?.event.due_date | date: 'MMMM' }}</span>
                    <br>
                    <span class="time">{{post.event?.due_time}}</span>
                  </div>
                  <div class="col-md-9 event-title"> {{post.content}}

                    <div *ngFor="let file of post.files">
                      <p (click)="onDownlaodFile(file.modified_name,file.orignal_name)">{{file?.orignal_name}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer action-post innercard clearfix ">
                <hr>
                <div class="row">
                  <div class="col-md-6 ">
                    <span>{{post?.likes_count}} Likes</span>
                    <span>{{post?.comments_count}} Comments</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span (click)="showComments.id=post._id;showComments.event=!showComments.event;">
                      <i class="material-icons action ">mode_comment</i>
                    </span>
                    <span>
                      <i class="material-icons action">thumb_up</i>
                    </span>
                    <span>
                      <div ngbDropdown class="d-inline-block">
                        <i class="material-icons action" id="dropdownBasic1" ngbDropdownToggle>more_horiz</i>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item">Edit Post</button>
                          <button class="dropdown-item" (click)="onDeletePost(post._id)">Delete Post</button>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- post comment block make this invisible -->


          <div *ngIf="showComments.id == post._id && showComments.event">
            <div class="card muted">
              <form [formGroup]="commentForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group ">
                      <h6>Add a comment</h6>
                      <textarea class="form-control" id="post-content" rows="3" [(ngModel)]="comment.content" name="commentContent" formControlName="commentContent"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-md-12 text-right ">
                    <button type="button " name="button " class="btn btn-default ">Cancel</button>
                    <button [disabled]="commentForm.invalid" type="button " name="button" (click)="onAddNewComment(post._id)" class="btn btn-primary">Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- post comment block-->

          <!-- all comments block-->

          <div class="card muted comment" *ngFor="let comment of post.comments">
            <div class="card-block">
              <div class="row card-title ">
                <div class="col-md-1">
                  <img src="assets/images/user.png" class="feed-avatar">
                </div>
                <div class="col-md-7 ">
                  <h6>{{comment._commented_by?.first_name}} {{comment._commented_by?.last_name}} replied</h6>
                </div>
                <div class="col-md-4 text-right ">
                  <p class="small font-weight-bold">
                    <i class="material-icons ">schedule</i>{{comment.created_date | date : 'medium'}}</p>
                </div>
              </div>
              <div class="col-md-12 innercard ">
                <p class="card-text ">
                  {{comment.content}}
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
