<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/dashboard/overview">
      <i class="icon-octo-logo"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard/overview">Overview
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/dashboard/groups">Groups
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="user?.role=='admin' || user?.role=='owner'" class="nav-item">
          <a class="nav-link" routerLink="/dashboard/admin/general">Admin
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/login">Files <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      <div class="form-inline has-feedback">
        <input type="text" class="form-control" placeholder="Search Everything ..." />
        <!-- <i class="fa form-control-feedback fa-microphone" aria-hidden="true"></i> -->
        <img [src]="userProfileImage" alt="" class="topnav-avatar" routerLink="/dashboard/profile/profile">
      </div>

      <a class="nav-link" routerLink="/dashboard/admin" (click)="onSignOut()">Logout
        <span class="sr-only">(current)</span>
      </a>
    </div>
  </div>
  <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="closeAlert()">{{alert.message}}</ngb-alert>

</nav>
