@import "../../../assets/scss/variables";


.container {
  margin-top: 40px;
}


.main-actvity {
    margin-top: 20px;
}
.sidecontent {
margin-left: 0px;
margin-bottom: 20px;
}
.card {
    padding:0px;
    width:100%;
    margin: 5px 0;
    border: $border-color;
    border-radius: $card-radius;

}
.card-footer{
  background: transparent;
  border: none;
  span{
    margin-right:20px;
  }
  margin-bottom: 10px;
  .material-icons{
    font-size: 16px;
    &:hover{
      color: $brand-primary;
    }
  }
}

.card-title{
  margin-top: 0px;
  margin-bottom: 0;

  .small {
    font-size: 12px;
    margin: 20px;
    .material-icons{
      font-size: 12px;
    }
  }
  h6{
    font-family: $poppins;
    font-size: 16px;
    color: $dark-text;
    margin-top: 20px;
    margin-left: 10px;
  }
}
.innercard{
  padding: 20px 20px 20px 60px;
  width: 100%;
}
.sideinnercard{
  padding: 20px;
  width: 100%;
}

.post-card{
  margin: 0px 0px 5px 0px;
  background-color:#fff;
  border: $border-color;
  border-radius: $card-radius;
  padding: 0px;
  height: 52px;
  .col-md-1{
    padding-left: 0;
  }
  .feed-avatar{
    margin: 0;
  }
  .text-muted{
    font-family: $poppins;
    line-height: 50px;
  }
}

span i ,.postAction{
  cursor:pointer;
}
.quick {
    background-color: #9D85D2;
    color:#FFFFFF;
}
li {
        padding: 0;
}
.action-post span {
        color: #9B9B9B;font-size: 12px;line-height: 19px;cursor:pointer;
   }
// for input datepicker https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker
input[type="date"],input[type="time"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 1px 0;
    white-space: pre;
}
