<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 welcome">

      <h1 class="white">
        <i class="icon-octo-logo"></i>Octonius</h1>
      <h4 class="white">Everything happening in your organization happens here.</h4>

      <div style="margin-top:30px">
        <p class="white">If you already have an account</p>
        <button type="submit" class="btn btn-outline-light" routerLink="/signin">Sign in</button>
      </div>
      <div *ngIf="alert.message" [ngClass]="alert.class" style="margin-top: 40px">{{alert.message}} </div>

    </div>
    <div class="col-md-4 ">
      <div class="signup-form " style="padding-top:100px ">
        <form [formGroup]="newWorkspaceForm " (ngSubmit)="onNewWorkspaceFormSubmit() ">
          <h4>Create a new workplace</h4>

          <div class="form-group ">
            <label for="work-email ">Enter your work email</label>
            <input type="email" class="form-control" id="work-email" formControlName="ownerEmail" [(ngModel)]="workspace.owner_email"
              name="ownerEmail">
            <div *ngIf="_ownerEmail.invalid && _ownerEmail.touched" style="color:red ">
              <div *ngIf="_ownerEmail.errors.email">Please enter a valid email</div>
            </div>
          </div>

          <div class="form-group ">
            <label for="password">Enter your password</label>
            <input type="password" class="form-control " id="password " formControlName="ownerPassword" [(ngModel)]="workspace.owner_password "
              name="ownerPassword">

            <div *ngIf="_ownerPassword.invalid && _ownerPassword.touched" style="color:red ">
              <div *ngIf="_ownerPassword.errors.required">Password is required!</div>
              <div *ngIf="_ownerPassword.errors.minlength">Password must be at least {{_ownerPassword.errors.minlength.requiredLength}} characters long!</div>
              <div *ngIf="_ownerPassword.errors.fieldCannotBeEmpty">Password cannot be empty</div>

            </div>
          </div>

          <div class="form-group">
            <label for="repeat-password ">Repeat your password</label>
            <input type="password" class="form-control" id="repeat-password" formControlName="ownerPasswordRepeat">

            <div *ngIf="_ownerPasswordRepeat.invalid && _ownerPasswordRepeat.touched" style="color:red ">
              <div *ngIf="_ownerPasswordRepeat.errors.required">Password is required!</div>
              <div *ngIf="_ownerPasswordRepeat.errors.fieldCannotBeEmpty">Password cannot be empty</div>
            </div>
          </div>

          <div class="form-group ">
            <label for="first-name ">Enter your first name</label>
            <input type="text" class="form-control" id="first-name" formControlName="ownerFirstName" [(ngModel)]="workspace.owner_first_name"
              name="ownerFirstName ">

            <div *ngIf="_ownerFirstName.invalid && _ownerFirstName.touched" style="color:red ">
              <div *ngIf="_ownerFirstName.errors.required">First name is required!</div>
              <div *ngIf="_ownerFirstName.errors.fieldCannotBeEmpty ">First name cannot be emepty</div>
            </div>
          </div>

          <div class="form-group ">
            <label for="last-name ">Enter your last name</label>
            <input type="text" class="form-control" id="last-name" formControlName="ownerLastName" [(ngModel)]="workspace.owner_last_name"
              name="ownerLastName">

            <div *ngIf="_ownerLastName.invalid && _ownerLastName.touched" style="color:red ">
              <div *ngIf="_ownerLastName.errors.required">Last name is required!</div>
              <div *ngIf="_ownerLastName.errors.fieldCannotBeEmpty">Last Name cannot be empty</div>
            </div>
          </div>

          <button [disabled]="newWorkspaceForm.invalid || processing " type="submit " class="btn btn-primary btn-block ">Done</button>
        </form>
      </div>
    </div>

  </div>
