<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 welcome">

      <h1 class="white">
        <i class="icon-octo-logo"></i>Octonius</h1>
      <h4 class="white">Everything happening in your organization happens here.</h4>

      <div style="margin-top:30px">
        <p class="white">If you already have an account</p>
        <button type="submit" class="btn btn-outline-light" routerLink="/signin">Sign in</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="signup-form" style="padding-top:100px">
        <form [formGroup]="newWorkspaceForm" (ngSubmit)="onFormSubmit()">

          <h4>Create a new workplace</h4>
          <div class="form-group">
            <label for="company-name">What is the name of your company?</label>
            <input type="text" class="form-control" id="company-name" formControlName="companyName" [(ngModel)]="workspace.company_name"
              name="companyName">
            <div *ngIf="_companyName.invalid && _companyName.touched" class="alert alert-danger">
              <div *ngIf="_companyName.errors.required">company name is required!</div>
              <div *ngIf="_companyName.errors.fieldCannotBeEmpty">company name cannot be empty</div>
              <!--   <div *ngIf="_companyName.errors.minlength">company should be min length of {{_companyName.errors.minlength.requiredLength}}</div> -->
            </div>
          </div>

          <div class="form-group">
            <label for="workspace-name">Enter the workplace name</label>
            <input type="text" class="form-control" id="workspace-name" formControlName="workspaceName" [(ngModel)]="workspace.workspace_name"
              name="workspaceName">
            <div *ngIf="_workspaceName.invalid && _workspaceName.touched" class="alert alert-danger">
              <div *ngIf="_workspaceName.errors.required">workplace name is required!</div>
              <div *ngIf="_workspaceName.errors.fieldCannotBeEmpty">workplace name cannot be empty</div>
            </div>
          </div>
          <button [disabled]="newWorkspaceForm.invalid || processing" type="submit" class="btn btn-primary btn-block">Continue</button>
        </form>
        <br>
        <div *ngIf="alert.message" [ngClass]="alert.class">{{alert.message}}</div>
      </div>
    </div>

  </div>

</div>
