
@import "../../../assets/scss/variables.scss";
// @import "~style/variables";
.center{
    width: 30%;
    margin-top: 100px;
}
@media (max-width: 574px){
    .center{
        width: 90%;
        margin-top: 30px;
    }
}

@media (max-width: 767px){
    .center{
        width: 80%;
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .center{
        width: 60%;
        margin-top: 30px;
    }
}

.col-md-8{
  padding:100px 30px;
}
