<div class="container">
  <app-overview-page-header></app-overview-page-header>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row navig">
        <div class="col-md-4 clearfix">

          <img src="https://randomuser.me/api/portraits/med/women/49.jpg" alt="" class="feed-avatar float-left">
          <div class="username float-left">
            <h6>Eva Mendosa</h6>
            <p class="small text-muted">10:00am</p>
          </div>
        </div>

        <div class="col-md-7">
          <p>i like the new format of the dowuent, it gaves some strength to all this bla bla,i like the new format of the dowuent,
            it gaves some strength to all this bla bla</p>
        </div>
        <div class="col-md-1">
          <i class="material-icons">chat</i>

        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row navig">
        <div class="col-md-4 clearfix">

          <img src="https://randomuser.me/api/portraits/med/women/60.jpg" alt="" class="feed-avatar float-left">
          <div class="username float-left">
            <h6>Mara Marvin</h6>
            <p class="small text-muted">10:00am</p>
          </div>
        </div>

        <div class="col-md-7">
          <h6 class="pink">assigned to you</h6>
          <p>i like the new format of the dowuent, it gaves some strength to all this bla bla,i like the new format of the dowuent,
            it gaves some strength to all this bla bla</p>
        </div>
        <div class="col-md-1">
          <i class="material-icons">assignment_turned_in</i>

        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row navig bluebg">
        <div class="col-md-4 clearfix">

          <img src="https://randomuser.me/api/portraits/med/men/9.jpg" alt="" class="feed-avatar float-left">
          <div class="username float-left">
            <h6>Jon Snow</h6>
            <p class="small">10:00am</p>
          </div>
        </div>

        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2 date"> 20 April
              <br>
              <span>12:30</span>
            </div>
            <div class="col-md-9 event-title">Team meeting in room 3 to discuss the new design Team meeting in room 3 to discuss the new design
            </div>
          </div>

        </div>
        <div class="col-md-1">
          <i class="material-icons">today</i>
        </div>
      </div>
    </li>
  </ul>
</div>
