<div class="row main-actvity">

  <div class="col-md-4">
    <div class="row sidecontent">

      <div class="card sideinnercard">
        <div class="card-block">
          <h6 class="card-title">Workplace Info</h6>
          <hr/>
          <p class="card-text">{{workspace?.members.length}} Members</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card-tile workspace-signupmode">
      <ngb-alert *ngIf="alert.message" [type]="alert.class" (close)="successMessage = null">{{ alert.message}}</ngb-alert>

      <h4>Workspace signup mode</h4>
      <p>Choose to make your workspace signup process invition only,or allow anyone else with a certain email adress format
        to signup</p>
      <div style="position: fixed; margin-top: 20px">
      </div>
      <div class="form-group">
        <label for="email">Using the WORKSPACE NAME,any email adress from these domain can signup:</label>
        <textarea class="form-control" rows="5" id="domains" [(ngModel)]="domainData.domains" name="domains"></textarea>
        <label for="domains">To allow eamil address from mulltiple domains,separate them commas.</label>
      </div>
      <button class="btn btn-primary" (click)="onDoaminsSave()">Save</button>
    </div>

    <div class="card-tile invite-users">
      <h4>Invite individual users by email</h4>
      <p>The option is mainly for inviting super-admins,group admins and external guests.</p>

      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="usr" [(ngModel)]="invitationData.email" name="email">
      </div>
      <button type="button" class="btn btn-primary" (click)="onInviteNewUserViaEmail()">Invite</button>
    </div>
  </div>
</div>
