/* You can add global styles to this file, and also import other style files */

@import "../../../assets/scss/variables.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";
.blue {
  color: $blue;
}

.white {
  color: #fff !important;
}

.icon-octo-logo {
  color: #fff;
  margin-right: 30px;
}
