@import "../../../assets/scss/variables";
.navig {
  border: 1px solid $border-color;
  background: white; // box-shadow: $card-shadow;
  .col-md-4 {
    background-image: url('https://spectrum.ieee.org/image/Mjg4NTE0MA.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120px 100px;
    padding: 20px 20px 20px 140px;
    .feed-avatar {
      margin-right: 20px;
    }
  }
  .col-md-7 {
    padding-top: 10px;
  }
}

.list-group {
  background: transparent;
}

.list-group-item {
  border: none;
  background: transparent;
}

.group-img {
  padding: 0 !important;
}

.username {
  // margin-left: 20px;
}
.material-icons{
  margin-top: 20px;
  font-size: 40px;
}
.date{
  font-size: 24px;
  margin-top: -5px;
  border: 1px solid white;
  padding: 5px;
}
.event-title{
  padding-top: 0;
  margin-left: 20px;
}
